{% extends './base.html' %}
{% load static %}

{% block body_content %}


<!-- Page Wrapper -->
<div id="wrapper" aria-roledescription="page wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
            <div class="sidebar-brand-icon">
                <img src="https://www.dcu.ie/sites/default/files/marketing/images/dcu_logo_stacked_green.png"
                    style="width: 100%;" alt="DCU Logo">
            </div>
            <div class="sidebar-brand-text mx-3">DCU Dashboard</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/dashboard">
                <i class="fas fa-fw fa-home"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <div class="sidebar-heading" role="region" aria-label="links to differents DCU officials services">
            <span  role="heading">DCU Services</span>
            <li class="nav-item">
                <a class="nav-link" href="https://www.dcusport.ie/Connect/mrmLogin.aspx">
                    <i class="fas fa-fw fa-dumbbell"></i>
                    <span role="link" aria-roledescription="redirect to dcu sport services">DCU Sports</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                    href="https://capitadiscovery.co.uk/dcu/login?message=borrowerservices_notloggedin&referer=https%3A%2F%2Fcapitadiscovery.co.uk%2Fdcu%2Faccount">
                    <i class="fas fa-fw fa-book-reader"></i>
                    <span role="link" aria-roledescription="redirect to dcu library service">Library</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                    href="https://capitadiscovery.co.uk/dcu/login?message=borrowerservices_notloggedin&referer=https%3A%2F%2Fcapitadiscovery.co.uk%2Fdcu%2Faccount">
                    <i class="fas fa-fw fa-print"></i>
                    <span role="link" aria-roledescription="redirect to dcu print service">Printers</span></a>
            </li>
        </div>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                    action="{%url 'dashboard:index'%}" method="get">
                    <div class="input-group">
                        <input name="modules" type="text" class="form-control bg-light border-0 small"
                            placeholder="Search for modules separated by a , : CA377,CA348"
                            aria-label="Search for modules with their code like separated by comma without spaces exemple: CA377,CA358"
                            role="search" value="{{modules}}" formaction="{%url 'dashboard:index'%}" method="get">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" formaction="{%url 'dashboard:index'%}" method="get" >
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                    <span  aria-atomic="true"
                    role="alert">{{modules_error}}</span>
                </form>
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if dcu_id %}
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{dcu_id}}</span>                            
                            {% else %}
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Not Connected</span>
                            {% endif %}
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a role="button" class="dropdown-item" href="/">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">DCU Dashboard</h1>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Content Column -->
                    <div class="col-lg-6 mb-4">

                        <!-- Project Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6  role="heading" aria-level="1" class="m-0 font-weight-bold text-primary">Timetable</h6>
                            </div>
                            <div class="card-body">
                                {% for day in modulesPerDay %}

                                <p>{{day.day}}</p>
                                {% for i in day.data %}
                                <h4  role="heading" aria-level="2" class="small font-weight-bold">{{i.module}} <span
                                        class="float-right">{{i.duration}}h</span></h4>
                                <div class="mb-4">
                                    <p>{{i.start_hour}}:{{i.start_min}} - {{i.end_hour}}:{{i.end_min}}</p>
                                </div>
                                {% endfor %}
                                {% endfor %}
                            </div>
                        </div>

                        <!-- Color System -->


                    </div>

                    <div class="col-lg-6 mb-4">
                        <div class="card shadow mb-4">
                            <div class="card-body">Today you have {{lectureCount.count}} lectures today
                                {% if lectureCount.count > 0 %}and you will start at
                                {{lectureCount.first.hour}}:{{lectureCount.first.min}}.{% endif %}</div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6  role="heading" aria-level="1" class="m-0 font-weight-bold text-primary">Announcements</h6>
                            </div>
                            <div class="card-body">
                                {% for ann in announcements %}
                                <h5  role="heading" aria-level="2" >{{ann.module}} </h5>
                                <span>{{ann.info}}</span>
                                <!-- <p>Emmanuel Carli</p>-->
                                <hr>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- Approach -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Book rental</h6>
                            </div>
                            <div class="card-body">
                                <p>You have no due books.</p>
                                <p class="mb-0"><a href="https://www.dcu.ie/library/index.shtml">DCU Library website</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">

                    <span>Copyright &copy; <a href="http://github.com/extragornax">Extragornax</a> - <a
                            href="https://github.com/dotcheap">DotCheap</a> 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>




{% endblock body_content %}