{% extends './base.html' %}
{% load static %}

{% block body_content %}
<section class="timetable">
	<article class="dailyArticle">
		<p class="day">Monday</p>
		<div class="dayContent">
			<p class="dayDetails">Time | GLA206 - You have shit incoming</p>
			<p class="dayDetails">Time - You have shit incoming</p>
			<p class="dayDetails">Time - You have shit incoming</p>
			<p class="dayDetails">Time - You have shit incoming</p>
			<p class="dayDetails">Time - You have shit incoming</p>
		</div>
	</article>

	<article class="dailyArticle">
		<p class="day">Monday</p>
		<div class="dayContent">
			<p class="dayDetails">Time - You have shit incoming</p>
			<p class="dayDetails">Time - You have shit incoming</p>
			<p class="dayDetails">Time - You have shit incoming</p>
			<p class="dayDetails">Time - You have shit incoming</p>
			<p class="dayDetails">Time - You have shit incoming</p>
		</div>
	</article>
</section>

<section class="timetable">
</section>

{% endblock body_content %}